
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div {
     width:25em;
     border: 5px red solid;
     padding: 5px;
     margin: 5px;
    }
/* Here is one of many  CSS rules you will need... */
#one {
    border-color: orange;
    z-index:100;
    position:fixed;
    top: 0%;
    left: 0%;
}
#two {
    border-color: yellow;
    z-index:100;
    position:fixed;
    bottom: 0%;
    left: 0%;
}
#three {
    border-color: green;
    z-index:100;
    position:fixed;
    top: 0%;
    right: 0%;
}
#four {
    border-color: blue;
    z-index:100;
    position:fixed;
    bottom: 0%;
    right: 0%;
}

#link{
     text-align: center;
}